<h1>Manage Your Merchants</h1>

<h2>Add New Merchant</h2>
<form method="post" action="/merchants">
  <label for="name" class="formLabel">Merchant Name:</label>
  <input id="name" type= "text" name ="name">

  <input type="submit" value="Create Merchant">
</form>

<h2>Saved Merchants</h2>
<% @merchants.each do |merchant| %>
<p><b><%= merchant.name %></b></p>
<input type="button" value="Edit Merchant" onclick="window.location.href='/merchants/edit/<%= merchant.merchant_id %>'" />
</form>
<hr>
<% end %>