<!DOCTYPE html>
<html>
<head>
  <title>Money Cashboard</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/transactions">All Transactions</a>
      </li>
      <li>
        <a href="/transactions/new">New Transaction</a>
      </li>
    </ul>
  </nav>


  <%= yield %>
</body>
</html>