<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Money Cashboard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions/new">New Transaction</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/budget">Budget</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/merchants">Merchants</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>