<h1>Manage Your Tags</h1>

<h2>Add New Tag</h2>
<form method="post" action="/tags">
  <label for="name" class="formLabel">Name:</label>
  <input id="name" type= "text" name ="name">

  <input type="submit" value="Create Tag">
</form>

<h2>View/edit Tags:</h2>

<% @tags.each do |tag| %>
  <p><b><%= tag.name %></b></p>
  <input type="button" value="Edit Tag" onclick="window.location.href='/tags/edit/<%= tag.tag_id %>'" />
    </form>
    <hr>
    <% end %>
