<h1>New Tag</h1>
<form method="post" action="/tags">
  <label for="name" class="formLabel">Name:</label>
  <input id="name" type= "text" name ="name">

  <input type="submit" value="Create Tag">
</form>

<h4>View/edit tags:</h4>

<% @tags.each do |tag| %>
  <p><%= tag.name %></p>
  <input type="button" value="Edit Tag" onclick="window.location.href='/tags/edit/<%= tag.tag_id %>'" />
    </form>
    <hr>
    <% end %>
