<p>Success!</p>
<p>Your transaction has been created</p>

<p>Merchant: <%= @transaction.merchant.name %></p>
<p>Tag: <%= @transaction.tag.name %></p>
<p>Date: <%= @transaction.date %></p>
<p>Amount: £<%= @transaction.amount %></p>
